<div class="container" id="banner">
  <div class="row">
    <div class="col-lg-6 col-sm-6">
      <h1>PHP Hosting</h1>
      <h3>Cepat, handal, penuh dengan</h3>
      <h3>modul PHP yang Anda butuhkan</h3>
      <ul class="list-banner">
        <li>Solusi PHP untuk performa query yang lebih cepat</li>
        <li>Konsumsi memori yang lebih rendah</li>
        <li>Support PHP 5.3, PHP 5.4, PHP 5.5, PHP 5.6, PHP 7</li>
        <li>Fitur enkripsi IonCube dan Zend Guard Loaders</li>
      </ul>
    </div>
    <div class="col-lg-6 col-sm-6">
      <img src="../assets/svg/illustration banner PHP hosting-01.svg" alt="">
    </div>
  </div>
</div>