<div class="container" id="features">
  <div class="row">
    <div class="col-lg-12">
      <h3 class="text-center">Semua Paket Hosting Sudah Termasuk</h3>
    </div>
    <div class="col-lg-4 col-sm-6 wrapper-features">
      <img class="img-icon-features" src="../assets/svg/icon PHP Hosting_PHP Semua Versi.svg" alt="PHP Semua Versi">
      <p class="title-features">PHP Semua Versi</p>
      <p class="description-features">Pilih mulai dari versi PHP 5.3 s/d PHP 7. Ubah sesuka Anda!</p>
    </div>
    <div class="col-lg-4 col-sm-6 wrapper-features">
      <img class="img-icon-features" src="../assets/svg/icon PHP Hosting_My SQL.svg" alt="MySQL Versi 5.6">
      <p class="title-features">MySQL Versi 5.6</p>
      <p class="description-features">Nikmati MySQL versi terbaru, tercepat dan kaya akan fitur.</p>
    </div>
    <div class="col-lg-4 col-sm-6 wrapper-features">
      <img class="img-icon-features" src="../assets/svg/icon PHP Hosting_CPanel.svg" alt="Panel Hosting cPanel">
      <p class="title-features">Panel Hosting cPanel</p>
      <p class="description-features">Kelola website dengan panel canggih yang familiar di hati Anda.</p>
    </div>
    <div class="col-lg-4 col-sm-6 wrapper-features">
      <img class="img-icon-features" src="../assets/svg/icon PHP Hosting_garansi uptime.svg" alt="Garansi Uptime 99.9%">
      <p class="title-features">Garansi Uptime 99.9%</p>
      <p class="description-features">Data center yang mendukung kelangsungan website Anda 24/7</p>
    </div>
    <div class="col-lg-4 col-sm-6 wrapper-features">
      <img class="img-icon-features" src="../assets/svg/icon PHP Hosting_InnoDB.svg" alt="Database InnoDB Unlimited">
      <p class="title-features">Database InnoDB Unlimited</p>
      <p class="description-features">Jumlah dan ukuran database yang tumbuh sesuai kebutuhan Anda.</p>
    </div>
    <div class="col-lg-4 col-sm-6 wrapper-features">
      <img class="img-icon-features" src="../assets/svg/icon PHP Hosting_My SQL remote.svg" alt="Wildcard Remote MySQL">
      <p class="title-features">Wildcard Remote MySQL</p>
      <p class="description-features">Mendukung s/d 25 max_user_connections dan 100 max_connections</p>
    </div>
  </div>
</div>