<!DOCTYPE html>
<html lang="en">
<head>
  {% include 'header.html' %}
</head>
<body>
  {% include 'navbar.html' %}
  {% include 'banner.html' %}
  <div class="separator"></div>
  {% include 'support-section.html' %}
  {% include 'pricing.html' %}
  {% include 'php-features.html' %}
  <div class="container border mt-5"></div>
  {% include 'features.html' %}
  <div class="container border"></div>
  {% include 'laravel.html' %}
  <div class="separator"></div>
  {% include 'module.html' %}
  {% include 'live-support.html' %}
  {% include 'footer.html' %}