<div class="container" id="live-support">
  <div class="row">
    <div class="col-lg-6">
      <h2>Linux Hosting yang Stabil</h2>
      <h2>dengan Teknologi LVE</h2>
      <p class="mt-4">Supermicro <b>Intel Xeon 24-Cores</b> server dengan RAM <b>128 GB</b> dan teknologi <b>LVE CloudLinux</b> untuk stabilitas server Anda. Dilengkapi dengan <b>SSD</b> untuk kecepatan <b>MySQL</b> dan caching. Apache load balancer berbasis LiteSpeed Technologies, <b>CageFS</b> security, <b>Raid-10</b> protection dan auto backup untuk keamanan website PHP Anda.</p>
      <button type="button" class="btn-pilih-hosting">Pilih Hosting Anda</button>
    </div>
    <div class="col-lg-6 text-center">
      <img class="img-live-support" src="../assets/images/Image support.png" alt="Support">
    </div>
  </div>
</div>
<div id="social-share">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-sm-7">
        <p>Bagikan jika Anda menyukai halaman ini.</p>
      </div>
      <div class="col-lg-4 col-sm-5">
        <div>
          <button type="button" class="fb-share float-left">
            <i class="fa fa-facebook"></i>
          </button>
          <span class="share-counter">0</span>
        </div>
        <div>
          <button type="button" class="twitter-share float-left">
            <i class="fa fa-twitter"></i>
          </button>
          <span class="share-counter">0</span>
        </div>
        <div>
          <button type="button" class="google-share float-left">
            <i class="fa fa-google"></i>
          </button>
          <span class="share-counter">0</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="live-chat">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 col-sm-9 livechat-border">
        <h2>Perlu <b>BANTUAN?</b> Hubungi Kami:<b>0274-5305505</b></h2>
      </div>
      <div class="col-lg-3 col-sm-3 text-center">
        <button class="btn-livechat">
          <img src="../assets/images/icon-livechat.png" alt="">
          Live Chat
        </button>
      </div>
    </div>
  </div>  
</div>