<div class="container" id="php-features">
  <h3 class="text-center mb-5">Powerful dengan Limit PHP yang Lebih Besar</h3>
  <div class="row">
    <div class="col-lg-6 col-sm-6">
      <table class="table table-bordered">
        <tr>
          <td>
            <div class="float-left features-checklist">
              <img src="../assets/images/checklist-img.png" alt="">
            </div>
            <div class="float-left">
              max execution time 300s
            </div>
          </td>
        </tr>
        <tr>
          <td class="td-grey">
            <div class="float-left features-checklist">
              <img src="../assets/images/checklist-img.png" alt="">
            </div>
            <div class="float-left">
              max execution time 300s
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="float-left features-checklist">
              <img src="../assets/images/checklist-img.png" alt="">
            </div>
            <div class="float-left">
              php memory limit 1024 MB
            </div>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-lg-6 col-sm-6">
      <table class="table table-bordered">
        <tr>
          <td>
            <div class="float-left features-checklist">
              <img src="../assets/images/checklist-img.png" alt="">
            </div>
            <div class="float-left">
              post max size 128 MB
            </div>
          </td>
        </tr>
        <tr>
          <td class="td-grey">
            <div class="float-left features-checklist">
              <img src="../assets/images/checklist-img.png" alt="">
            </div>
            <div class="float-left">
              upload max filesize 128 MB
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="float-left features-checklist">
              <img src="../assets/images/checklist-img.png" alt="">
            </div>
            <div class="float-left">
              max input vars 2500
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>