<div class="container mb-5" id="support-section">
  <div class="row">
    <div class="col-lg-12">
      <div class="support-img-wrapper">
        <div class="support-wrapper">
          <div class="support-img">
            <img src="../assets/images/zendguard.png" alt="Zend Guard">
          </div>
          <p class="text-center">PHP Zend Guard Loader</p>
        </div>
        <div class="support-wrapper">
          <div class="support-img">
            <img src="../assets/images/composer.png" alt="Zend Guard">
          </div>
          <p class="text-center">PHP Composer</p>
        </div>
        <div class="support-wrapper">
          <div class="support-img">
            <img src="../assets/images/ioncube.png" alt="Zend Guard">
          </div>
          <p class="text-center">PHP ionCube Loader</p>
        </div>
      </div>
    </div>
  </div>
</div>